<script type="text/javascript">
	datedata = {
		since_date: '{{ site.data.translations[page.lang].since_date }}',
		time_ago: '{{ site.data.translations[page.lang].time_ago }}',
		on_date: '{{ site.data.translations[page.lang].on_date }}',
		year: '{{ site.data.translations[page.lang].year }}',
		years: '{{ site.data.translations[page.lang].years }}',
		month: '{{ site.data.translations[page.lang].month }}',
		months: '{{ site.data.translations[page.lang].months }}',
		day: '{{ site.data.translations[page.lang].day }}',
		days: '{{ site.data.translations[page.lang].days }}',
		hour: '{{ site.data.translations[page.lang].hour }}',
		hours: '{{ site.data.translations[page.lang].hours }}',
		minute: '{{ site.data.translations[page.lang].minute }}',
		minutes: '{{ site.data.translations[page.lang].minutes }}',
		second: '{{ site.data.translations[page.lang].second }}',
		seconds: '{{ site.data.translations[page.lang].seconds }}'
	};
</script>