<title>{% if page.title %}{{ page.title | append:' - ' | append:site.data.translations[page.lang].title }}{% else %}{{ site.data.translations[page.lang].title }}{% endif %}</title>
<meta charset="utf-8" />
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.data.translations[page.lang].description | markdownify | strip_html }}{% endif %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" title="Sitewide ATOM Feed" />
<link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml" title="Sitewide RSS Feed" />
<link rel="icon" href="/images/icons/16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/images/icons/32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/images/icons/48.png" sizes="48x48" type="image/png">
<link rel="icon" href="/images/icons/128.png" sizes="128x128" type="image/png">
<link rel="icon" href="/images/icons/windows.ico" sizes="16x16 32x32 48x48" type="image/icon">
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for entry in posts %}
	{% if entry.lang != page.lang %}
<link rel="alternate" hreflang="{{ entry.lang }}" href="{{ entry.url }}" />
	{% endif %}
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for entry in pages %}
	{% if entry.lang != page.lang %}
<link rel="alternate" hreflang="{{ entry.lang }}" href="{{ entry.url }}" />
	{% endif %}
{% endfor %}
<link rel="author" type="text/plain" href="{{ site.baseurl }}/humans.txt" />