<!-- This loops through the paginated posts -->
{% assign groups = site.posts | group_by: 'pin' | reverse %}
{% for group in groups %}
	{% for post in group.items %}
		{% if post.lang == page.lang %}
		<section class="post-container">
			<div class="post-thumb"><img src="{{ site.github.url }}/images/thumbs/{{ post.ref }}.jpg" alt="" /></div>
			<div class="post-content">
				{% if post.pin %}<i class="post-pin fa fa-thumb-tack"></i>{% endif %}
				<h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
				<div>
					{{ post.excerpt }}
				</div>
				<p>
					<span><i class="fa fa-calendar"></i> {% include date.html %} {% include categories.html %}</span>
				</p>
			</div>
		</section>
		{% endif %}
	{% endfor %}
{% endfor %}