<div id=lang-selector>
	<ul>
		{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
		{% for entry in posts %}
			{% if entry.lang != page.lang  %}
			<li>
				<a href="{{ entry.url }}" class="{{ entry.lang }}">{{ site.data.translations[entry.lang].language_name }}</a>
			</li>
			{% endif %}
		{% endfor %}
	
		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		{% for entry in pages %}
			{% if entry.lang != page.lang  %}
			<li>
				<a href="{{ entry.url }}" class="{{ entry.lang }}">{{ site.data.translations[entry.lang].language_name }}</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
