{% if site.twitter_username %}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | truncate: 70 }}{% else %}{{ site.data.translations[page.lang].title | truncate: 70 }}{% endif %}" />
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 200 }}{% else %}{{ site.data.translations[page.lang].description | markdownify | strip_html | truncate: 200 }}{% endif %}" />
<meta name="twitter:image" content="{{site.baseurl }}{% if page.image %}{{ page.image }}{% else %}{{ '/images/logo.png' }}{% endif %}" />
{% endif %}
